<a href="https://colab.research.google.com/github/KingNawat/Student-grade-prediction/blob/main/Project2v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
file_path = 'Fix couse and section.xlsx'
headers = ['FakeID','Year','Sem','System','Section','Course','Credit','Grade']
auto_df = pd.read_excel(file_path)
auto_df.columns=headers
auto_df['Grade'] = auto_df['Grade'].apply(str)

In [ ]:
X_train = auto_df[['Course','Year','Sem','Section','System']]
y = auto_df['Grade']
X = pd.get_dummies(X)
y = pd.get_dummies(y)

y.head(10)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.12453333333333333

Test for 1-4

In [ ]:
file_path = 'Fix couse and section (1-4).xlsx'
headers = ['FakeID','Year','Sem','System','Section','Course','Credit','Grade','Grade1','Grade2','Grade3','Grade4']
auto_df = pd.read_excel(file_path)
auto_df.columns=headers

In [ ]:
X = auto_df[['Year','Sem','System','Section','Course','Credit']]
y = auto_df['Grade']
X = pd.get_dummies(X)
y = pd.get_dummies(y)
y.head(5)

   0.0  1.0  1.5  2.0  2.5  3.0  3.5  4.0
0    0    0    0    0    0    0    0    1
1    0    0    0    0    0    0    0    1
2    0    0    0    0    1    0    0    0
3    0    0    0    0    0    0    1    0
4    0    0    0    0    0    0    0    1

In [ ]:
X.head(5)

   Year  Sem  Section  Course  Credit  System_I  System_S  System_T
0  2012    1        2       1       3         0         1         0
1  2011    3        1      29       3         1         0         0
2  2010    2        3      29       4         1         0         0
3  2011    2        1      29       3         0         0         1
4  2012    1        1      22       3         0         1         0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.14653333333333332

In [ ]:
file_path = 'Fix couse and section (1-4).xlsx'
headers = ['FakeID','Year','Sem','System','Section','Course','Credit','Grade','Grade0','Grade1','Grade1.5','Grade2','Grade2.5','Grade3','Grade3.5','Grade4']
input_df = pd.read_excel(file_path)
input_df.columns=headers
input_df['Year'] = input_df['Year'].apply(str)
input_df['Sem'] = input_df['Sem'].apply(str)
input_df['Section'] = input_df['Section'].apply(str)
input_df['Course'] = input_df['Course'].apply(str)
input_df['Credit'] = input_df['Credit'].apply(str)

In [ ]:
X = input_df[['Year','Sem','System','Section','Course','Credit']]
y = input_df['Grade']
X = pd.get_dummies(X)
y = pd.get_dummies(y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [ ]:
from sklearn import metrics
import numpy as np

mae_1 = metrics.mean_absolute_error(y_test, y_pred)
mse_1 = metrics.mean_squared_error(y_test, y_pred)
rmse_1 = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print('MAE: ', mae_1)
print('MSE: ', mse_1)
print('RMSE: ', rmse_1)

MAE:  27.208708333333334
MSE:  0.11537499999999999
RMSE:  0.3396689564855758

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.14666666666666667